<div>
  <h3>Log in</h3>
  <form action="/login" method="post">
    <table>
      <tr>
        <td>Username</td>
        <td><input name="username" type="text"/></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input name="password" type="password"/></td>
      </tr>
      <tr>
        <td></td>
        <td><input class="button" type="submit" value="> Log In"/></td>
      </tr>
    </table>
  </form>
</div>