<h3>Sign Up</h3>
<form action="/signup" method="post">
  <table>
    <tr>
      <td>Username:&nbsp;</td>
      <td><input name="username" type="text"/></td>
    </tr>
    <tr>
      <td>Email:&nbsp;</td>
      <td><input name="email" type="text"/></td>
    </tr>
    <tr>
      <td>Password:&nbsp;</td>
      <td><input name="password" type="password"/></td>
    </tr>
    <tr>
      <td>Password Confirmation:&nbsp;</td>
      <td><input name="password_confirmation" type="password"/></td>
    </tr>
    <tr>
      <td />
      <td><input class="button" type="submit" value="> Sign Up"/></td>
    </tr>
  </table>
</form>